<center>
<div class="menu">
			<ul class="ulka">
				<li class="current_page_item"><a class="ashka_current_page" href="#">Homepage</a></li>
				<li class="lishka"><a class="ashka" href="#">Blog</a></li>
				<li class="lishka"><a class="ashka" href="#">Photos</a></li>
				<li class="lishka"><a class="ashka" href="#">About</a></li>
				<li class="lishka"><a class="ashka" href="#">Contact</a></li>
			</ul>
		</div>


  <% @posts.each do |post| %>


<div class="posts">
	<h2 class="title"><%= post.title %> </h2>
	<div class="accordion"id="accordion2">

<div class="accordion-heading">

</div>
<div id="collapse<%=post.id%>" class="accordion-body collapse">
<div class="accordion-inner">
	  <h6 class="text"> <%= post.text %>
	  </div>
</div>
</div>
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=post.id%>">
Показать полностью
</a>

  </div>
<div class="post_buttons">
    <tr><%= link_to 'Show', post, :class=>"btn btn-info",:type=>"button" %></tr>
    <tr><%= link_to 'Edit', edit_post_path(post), :class=>"btn btn-warning", :type=>"button" %></tr>
    <tr><%= link_to 'Delete', post_path(post), :class=>"btn btn-danger", :type=>"button", method: :delete, data: {confirm: 'Are you sure?'} %></tr>  
</div>
<% end %>
</center>
<%=truncate(@post.text,:length=>100)%>
